/* 
    Document   : custom
    Created on : Jun 4, 2014, 5:04:38 PM
    Author     : faisaln
    Description:
        Purpose of the stylesheet follows.
*/
#menu-top
{
	background:white url(bg.gif) repeat-x left top;
}

#menu-top ul 
{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    position: relative; 
    height: 30px; 
}
 
#menu-top ul li 
{ 
    display: block; 
    height: 30px; 
    float: left; 
    overflow: visible; 
}

#menu-top ul li:hover > ul 
{ 
    display: block; 
}
 
#menu-top ul li a 
{ 
    float: left; 
    display: block; 
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;    
}
 
#menu-top ul li ul { display: none; position: absolute; top: 100%;
                    background: #000; color: #fff; height: auto;
}

#top-menu ul li ul li{clear: left;} 

#menu-top ul li ul li a { color: #ccc; padding: 4px 14px; display: block; }
 
#menu-top ul li ul li.active a,
#menu-top ul li ul li a:hover 
{ 
    /*color: #fff;*/ 
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;    
}
